@using Microsoft.AspNet.Identity;
@model IEnumerable<MissionImpossible.Models.Form>

@{
    ViewBag.Title = "Home Page";
}

<h2>Forms and Applications</h2>

<ul>
    @foreach (var form in Model)
{
    <li>form.Form_name (@form.Type)<br> @form.Description</li>
}
    </ul>

<ul class="dash">
    <li class="btn-default">@Html.ActionLink("Apply","Index", "Forms")</li>
    @if (User.IsInRole("Admin"))
    {
            <li class="btn-default">@Html.ActionLink("Create New Form", "", "")</li> // fill in the method, controller and this should work for admins!
            <li class="btn-default">@Html.ActionLink("Delete a Form", "", "")</li>
    }

</ul>