@model IEnumerable<MissionImpossible.Models.Form>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Forms and Applications</h2>
<p>
    @Html.ActionLink("Apply", "New")
</p>
<ul>
    @foreach (var form in Model)
    {
        <li>@form.Form_name (@form.Type)<b>@Html.ActionLink("View Application", "View", new { form })</b> <br> @form.Description
            @Html.ActionLink("Edit", "Edit", new { id = form.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = form.Id })
    </li>
    }
</ul>